
.spacer {
    flex: 1;
    height: 60px;
  }

  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #d21938;
    color: white;
    font-weight: 600;
    span {
        cursor: default
    }
  }

  .toolbar a:hover {
    opacity: 0.8;
  }